.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-element {
  color: #000; /* Or any color that contrasts well with your background */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); /* White shadow for dark text */
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Three columns with the middle one wider */
  gap: 10px; /* Space between columns */
}

.column {
  padding: 10px;
}

.text-container {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  padding: 5px;
}

.card-collection-container {
  background-image: url('../public/CardCollection_Background.png');
  background-size: cover;
  background-position: center center;
  /* Other styles as previously defined */
}

.game-info-container {
  background-image: url('../public/HeroQuest_GameInfo_Background.png');
  background-size: cover;
  min-height: 400px;
  background-position: center center;
}

